/* default */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
code,
dfn,
em,
img,
small,
strong,
sub,
sup,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
embed,
figure,
figcaption,
footer,
header,
nav,
ruby,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font: inherit;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input,
select {
  vertical-align: middle;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

label {
  vertical-align: middle;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

body {
  width: 100%;
  min-width: 320px;
  font-size: 1.6rem;
  -webkit-text-size-adjust: 100%;
  font-family: "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic ProN", "メイリオ",
    Meiryo, sans-serif;
  color: #463729;
  line-height: 1.7;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background: #fff;
}

:root {
  font-size: 10px;
}

b,
em {
  font-weight: bold;
}

strong {
  font-weight: bold;
  color: #f00;
}

a {
  color: #555;
  text-decoration: none;
  transition: color 0.3s;
}

p > a {
  color: #9ebcff;
  transition: 0.3s;
}

p > a:hover,
p > a:active,
p > a:focus {
  text-decoration: none;
  opacity: 0.7;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

input,
button,
select,
textarea {
  font-size: 1.6rem;
  font-family: "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic ProN", "メイリオ",
    Meiryo, sans-serif;
}
a {
  color: $orange;
}
