.hdg-under-h1 {
  background: rgb(255 248 250);
  position: relative;
  padding: 60px 0 35px;
  text-align: center;
  font-size: 2.8rem;
  font-family: vdl-megamaru, sans-serif;
  font-style: normal;
  font-weight: 400;
  &::before {
    top: 0;
    left: 0;
    position: absolute;
    content: "";
    height: 20px;
    // background: url(../src/assets/common/bg_main_visual_01.png) repeat-x 0 0;
    width: 100%;
    z-index: 1;
  }
  &::after {
    position: absolute;
    content: "";
    height: 20px;
    bottom: -20px;
    left: 0;
    // background: url(../src/assets/common/bg_header_01.png) repeat-x 0 0;
    width: 100%;
  }
}
.hdg-under-h2 {
  margin-top: 55px;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 10px 10px 60px;
  background: rgb(255 248 250);
  position: relative;
  &::before {
    top: 15px;
    left: 20px;
    position: absolute;
    content: "";
    width: 29px;
    height: 25px;
    background: url(../images/common/icon_01.svg) repeat-x 0 0;
  }
}
.hdg-under-h3 {
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
  padding: 3px 0;
  border-bottom: 2px solid #ffae7e;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 2px;
}
th[colspan] {
  background: #fff;
  border: 5px solid #d3efd2;
}
th[colspan] img {
  margin-right: 10px;
}
th {
  background: #d3efd2;
  padding: 20px 10px;
  font-weight: bold;
}
td {
  background: #eaf7e9;
  padding: 20px;
}
.text-01 {
  margin-top: 15px;
}

.table-01 {
  margin-top: 30px;
  td {
    text-align: center;
  }
}
.image-01 {
  margin-top: 30px;
}
.list-order-01 > li {
  margin-top: 30px;
}
.list-desc-01 {
  margin-top: 30px;
  > div {
    margin-top: 10px;
  }
  dt {
    font-weight: bold;
  }
  dd > * {
    margin-top: 0;
  }
}
.list-step-01 {
  margin-top: 30px;
  > li {
    margin-top: 20px;
    > span {
      font-weight: bold;
    }
    > p {
      display: inline-block;
    }
    > * {
      margin-top: 0;
    }
  }
}
.list-step-02 {
  margin-top: 30px;
  > li {
    margin-top: 30px;
    display: flex;
    > div > span {
      font-weight: bold;
    }
    > * {
      margin-top: 0;
    }
  }
  @media screen and (max-width: 768px) {
    > li {
      display: block;
    }
    .icon, .image {
      text-align: center;
    }  
  }
}
.list-01 {
  margin-top: 15px;
  > li {
    position: relative;
    padding-left: 20px;
    margin-top: 5px;
    &::before {
      position: absolute;
      left: 0;
      top: 6px;
      border-radius: 50%;
      background: url(../images/common/icon_list_01.png) repeat-x 0 0;
      content: "";
      width: 11px;
      height: 10px;
    }
  }
}
.list-note-01 {
  margin-top: 30px;
  > li {
    display: flex;
    font-size: 1.4rem;
    > span {
      padding-right: 5px;
    }
    .list-01 {
      margin-top: 0;
    }
  }
}
.list-order-01 {
  list-style: decimal;
  padding-left: 20px;
  margin-top: 20px;
}
.align-l {
  margin-top: 30px;
}
.align-c {
  text-align: center;
}
figcaption {
  margin-bottom: 30px;
}
.box-alert-01 {
  margin-top: 30px;
  border: 2px solid #ff7c7c;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 0px 2px #fff, 4px 4px 0 2px #ccc;
  .hdg {
    font-weight: bold;
    & + * {
      margin-top: 15px;
    }
  }
}

.list-news-01 {
  margin-top: 30px;
  padding-left: 10px;
  flex-basis: calc(100% - 140px);
  > li {
    display: flex;
    font-weight: bold;
    padding: 7px 0;
    border-bottom: 2px dashed #ccc;
    span {
      width: 100px;
    }
    > p {
      padding-left: 20px;
    }
  }
}
.link-01 {
  position: relative;
  padding-left: 19px;
  display: inline-block;
  &::before {
    content: "";
    background: url(../images/common/icon_arrow_02.png);
    width: 15px;
    height: 15px;
    position: absolute;
    background-size: 100%;
    top: 5px;
    left: 0;
  }
}
.tel-link {
  pointer-events: none;
  color: #463729;
  @media screen and (max-width: 768px) {
    pointer-events: auto;
    color: #2e68d4;
  }
}
.list-step-01 {
  > li {
    color: #e95563;
    font-size: 18px;
    font-weight: bold;
    > span {
      background: #e95563;
      color: #fff;
      border-radius: 6px;
      padding: 10px 30px;
      display: inline-block;
      padding: 7px 24px;
      margin-right: 22px;
    }
    > div {
      margin-top: 15px;
      color: #333;
      font-weight: normal;
    }
  }
}
.list-step-02 {
  > li {
    > div {
      margin-top: 15px;
      color: #333;
      font-weight: normal;
      > p {
        color: #e95563;
        font-size: 18px;
        font-weight: bold;
      }
      &.text {
        margin-left: 30px;
      }
      > span {
        background: #e95563;
        color: #fff;
        border-radius: 6px;
        padding: 10px 30px;
        display: inline-block;
        padding: 7px 24px;
        margin-right: 22px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    > li {
      > div.text {
        margin-left: 0;
        br {
          display: none;
        }
      }
    }
  }
}
.list-faq-01 {
  margin-top: 30px;
  > div {
    margin-top: 10px;
  }
  dt {
    font-size: 18px;
    color: #e95563;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px 0;
    border-bottom: 2px dashed #ffb776;
  }
  dd {
    margin-top: 15px;
    display: flex;
  }
}
.sp-show {
  display: none;
}
.nav-page {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  > li {
    position: relative;
    margin-left: 50px;
    padding-left: 20px;
    > a::before {
      content: "";
      background: url(../images/common/icon_arrow_02.png);
      width: 15px;
      height: 15px;
      position: absolute;
      background-size: 100%;
      top: 6px;
      left: 0;
      transform: rotate(90deg);
    }
  }
  @media screen and (max-width: 768px) {
    display: block;
    > li {
      margin: 0 0 20px 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .sp-show {
    display: block;
  }
  .hdg-under-h1 {
    font-size: 2.4rem;
  }
  .hdg-under-h2 {
    font-size: 1.8rem;
    line-height: 1.6;
    &::before {
      top: 12px;
    }
  }
  .table-01-wrapper {
    overflow-x: scroll;
    .table-01 {
      width: 768px;
    }
  }
  th {
    background: #d3efd2;
    padding: 20px 10px;
    font-weight: bold;
    font-size: 1.2rem;
    white-space: nowrap;
  }
  td {
    background: #eaf7e9;
    padding: 20px 5px;
  }

  .list-step-01 > li {
    font-size: 1.5rem;
    > span {
      padding: 5px 15px;
      display: inline-block;
      margin-right: 10px;
    }
  }
}
.layout-image-01 {
  margin: 0 0 0 -40px;
  display: flex;
  flex-wrap: wrap;
  > li {
    width: calc(50% - 40px);
    margin: 40px 0 0 40px;
    border: 4px solid rgb(255 248 250);
    border-radius: 8px;
    padding: 30px;
  }
  @media screen and (max-width: 768px) {
    display: block;
    margin: 0;
    li {
      margin: 20px 0 0 0;
      width: 100%;
    }
  }
}
.message {
  display: flex;
  margin-top: 30px;
  align-items: center;
  figure {
    margin-right: 30px;
    width: 360px;
    figcaption {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 768px) {
    display: block;
    figure {
      margin-right: 0;
      width: auto;
    }
  }
}
.bubble {
    position: relative;
    background: #ffd9d9;
    color: #000;
    border-radius: 10px;
    padding: 20px;
    > .text-01:first-child {
      margin-top: 0;
    }
}
.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent #ffd9d9;
    border-width: 20px 20px 20px 0;
    top: 50%;
    left: -20px;
    margin-top: -20px;
    @media screen and (max-width: 768px) {
      content: '';
      position: absolute;
      display: block;
      width: 0;
      z-index: 1;
      border-style: solid;
      border-color: #ffd9d9 transparent;
      border-width: 0 20px 20px;
      top: 0;
      left: 50%;
      margin-left: -20px;
    }
}
